.container {
  background-color: #fff;
  border: 1px solid #c9d8db;
  .tool-bar {
    display: flex;
    padding: 0 10px;
    align-items: center;
    justify-content: start;
    border-bottom: 1px solid #eee;
    .iconfont {
      padding: 5px;
    }
  }
}
.hover-color {
  color: #1e88e5 !important;
}
